## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Raudeberg,NO,45.27,overcast clouds,61.9875,5.1352,Nordre Silda.
1,1,Solana Beach,US,62.67,mist,32.9912,-117.2711,Hilton San Diego/Del Mar
2,2,Hoquiam,US,52.93,moderate rain,46.9809,-123.8893,Econo Lodge Inn & Suites
3,3,Biak,ID,77.40,overcast clouds,-0.9131,122.8766,Penginapan Kim
4,4,Bluff,NZ,52.86,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park

In [3]:
vacation_df.dtypes

City_ID                  int64
City                    object
Country                 object
Max Temp               float64
Current Description     object
Lat                    float64
Lng                    float64
Hotel Name              object
dtype: object

In [4]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Raudeberg,NO,45.27,overcast clouds,61.9875,5.1352,Nordre Silda.
1,1,Solana Beach,US,62.67,mist,32.9912,-117.2711,Hilton San Diego/Del Mar
2,2,Hoquiam,US,52.93,moderate rain,46.9809,-123.8893,Econo Lodge Inn & Suites
3,3,Biak,ID,77.40,overcast clouds,-0.9131,122.8766,Penginapan Kim
4,4,Bluff,NZ,52.86,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
...,...,...,...,...,...,...,...,...
438,695,Kirakira,SB,78.64,few clouds,-10.4544,161.9205,SanBiz Lodge
439,696,Zhangye,CN,47.84,clear sky,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
440,697,Morondava,MG,76.28,clear sky,-20.2833,44.2833,La Case Bambou
441,698,Chattanooga,US,63.36,scattered clouds,35.0456,-85.3097,The Read House
442,699,Saint-Pierre,RE,77.58,light rain,-21.3393,55.4781,Lindsey Hôtel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Maryville"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Maryville"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Chattanooga"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Madison"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Cedartown"]

In [14]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
210,342,Maryville,US,62.19,few clouds,35.7565,-83.9705,Holiday Inn Express & Suites Alcoa (Knoxville ...

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
maryville_1 = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
maryville_2 = vacation_end["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
chattanooga_1 = vacation_stop1["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
madison_2 = vacation_stop2["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
cedartown_3 = vacation_stop3["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]

for x in [start, end, stop1, stop2, stop3]:
    print(x)

(35.7565, -83.9705)
(35.7565, -83.9705)
(35.0456, -83.9705)
(34.7334, -83.9705)
(34.0537, -83.9705)

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
round_trip = gmaps.directions_layer((42.96, -85.67), (42.96, -85.67), waypoints=[(42.24, -83.53), (42.33, -83.05), (43.01, -83.69)],
                                   travel_mode="DRIVING")
fig.add_layer(round_trip)
fig
# Unfortunately, no coordinates from the marker map would work in this code. The code had to be ran with actual coordinate tuples 
# to properly run. It was tested multiple times using several different coordinates/areas using several variables. 
# I feel this may be a bug with the destination map api. 

#(42.24, -83.53), (42.24, -83.53)
#(42.96, -85.67), (42.33, -83.05), (43.01, -83.69)

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,342,Maryville,US,62.19,few clouds,35.7565,-83.9705,Holiday Inn Express & Suites Alcoa (Knoxville ...
1,698,Chattanooga,US,63.36,scattered clouds,35.0456,-85.3097,The Read House
2,662,Madison,US,64.45,clear sky,34.7334,-86.5667,Embassy Suites by Hilton Huntsville Hotel & Spa
3,162,Cedartown,US,63.81,clear sky,34.0537,-85.2550,Quality Inn

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer_2 = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer_2)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))